.breadcrumbs {
  @media (max-width: $bpTablet) {
    margin-bottom: 50px;
  }
  @media (max-width: $bpMobile) {
    margin-bottom: 40px;
  }
  @media (max-width: $bpPhone) {
    margin-bottom: 30px;
  }
  .list {
    display: flex;

    &__item {
      opacity: .6;
      color: $darkColor;

      &:after {
        content: '/';
        margin-left: 5px;
        margin-right: 5px;
      }
      &:last-child {
        opacity: 1;
        font-weight: 500;
        &:after {
          display: none;
        }
      }

      &:not(:last-child):hover {
        color: $primaryColor;
      }
    }
  }
}