.catalog {

  .catalog__header {
    margin-bottom: 25px;

    &-wrapper {
      margin: 0 -10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .catalog__info {
      margin: 0 10px;

      .text, .count {
        color: $grayColor;
      }
    }

    .catalog__date {
      margin: 0 10px;

      .text, .count {
        color: $grayColor;
      }
    }

    .catalog__sort, .catalog__filter {
      margin: 0 10px;
      display: none;

      .link {
        font-size: 14px;
      }

      .icon {
        color: $primaryColor;
        margin-right: 10px;
      }
    }

    @media (max-width: $bpTablet) {
      .catalog__info, .catalog__date {
        display: none;
      }
      .catalog__sort, .catalog__filter {
        display: block;
      }
    }
  }

  .catalog__content {
    .adv__item {
      display: flex;
    }
  }

  .catalog__item {
    border-bottom: 2px solid #EFF3F6;
    border-right: 2px solid #EFF3F6;
    border-left: 2px solid #EFF3F6;
    position: relative;
    background: #fff;

    @media (max-width: $bpTablet) {
      border-top: 1px #EFF3F6 solid;
      margin-bottom: 20px;
      border-radius: 20px;
    }

    &:first-child {
      @media (min-width: $bpTablet) {
        border-radius: 30px 30px 0 0;
      }
      border-top: 2px solid #EFF3F6;
    }

    &:last-child {
      @media (min-width: $bpTablet) {
        border-radius: 0 0 30px 30px;
      }
    }

    &.-hidden-item {
      display: none;
    }

    &.item-header {

      .item-wrapper {
        .col {
          border-right: 2px solid #EFF3F6;
          text-align: center;
          padding: 15px 10px;
          position: relative;
          transition: .2s;
          user-select: none;

          &:first-child {
            border-radius: 30px 0 0 0;
          }

          &:last-child {
            border-radius: 0 30px 0 0;
          }

          .text {
            color: $grayColor;
            font-weight: 700;
            transition: .2s;
          }

          &:last-child {
            border-right: 0;
          }

          &.col-summ, &.col-bet, &.col-term {
            cursor: pointer;

            &.from-min {
              &:before {
                content: '\e908';
                font-family: 'icomoon';
                position: absolute;
                right: 10px;
                color: $grayColor;
                top: 50%;
                transform: translateY(-50%);
                transition: .2s;
              }
            }

            &.from-max {
              &:before {
                content: '\e908';
                font-family: 'icomoon';
                position: absolute;
                right: 10px;
                color: $grayColor;
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
                transition: .2s;
              }
            }

            &:hover {
              &:before {
                color: $primaryColor;
              }

              .text {
                color: $primaryColor;
              }
            }

            &:active {
              &:before {
                transform: translateY(calc(-50% + 2px));
              }
            }
          }
        }
      }

      @media (max-width: $bpTablet) {
        .col {
          &.col-summ, &.col-term, &.col-bet {
            border-top: 1px #eef2f5 solid;
          }

          &.col-term {
            border-right: none;
          }
        }
      }

      @media (max-width: $bpTablet) {
        display: none;
      }
    }

    .item-wrapper {
      display: flex;
      flex-wrap: wrap;

      .col {
        width: 20%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
          width: 145px;
          max-width: 100%;
        }

        .text {
          font-weight: 800;

          .small {
            font-size: 12px;
            font-weight: 700;
          }
        }

        .adv {
          margin-top: 15px;
          font-size: 12px;
          border-radius: 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          color: $grayColor;
          padding: 10px 15px;
          width: 154px;
          text-align: center;
          max-width: 100%;

          &.adv-white {
            background: #FFFFFF;
            border: 1px solid #EFF3F6;
            box-shadow: 0 0 10px rgba(229, 229, 229, 0.5);
          }

          &.adv-gray {
            background: #E9F5DD;
            border-radius: 10px;
          }
        }

        .mobile-title {
          display: none;

          @media (max-width: $bpTablet) {
            display: block;
            margin-bottom: 7px;
            font-size: 12px;
            color: rgba(0, 0, 0, .7);
          }
        }

        .link {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .sup-text {
          margin-bottom: 15px;
          font-size: 12px;
          color: rgba($textColor, .5);

          &:last-child {
            margin-bottom: 0;
          }
        }

        @media (max-width: $bpTablet) {
          padding: 10px;
          justify-content: center;

          &.col-overpayment {
            width: 50%;
            order: 0;
          }

          &.col-name {
            width: 50%;
            order: 0;
          }

          &.col-orders {
            width: 50%;
            order: 1;
          }

          &.col-summ, &.col-bet, &.col-term {
            order: 2;
            width: calc(33.333% - 5px);
          }

          .sup-text {
            margin-bottom: 10px;
          }

          .link {
            margin-bottom: 10px;
          }

          .adv {
            height: auto;
            padding: 5px 10px;
          }
        }

        @media (max-width: $bpMobile) {
          justify-content: flex-start;

          &.col-name {
            width: 100%;
          }

          &.col-orders {
            order: 3;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .link {
              margin-bottom: 0;
              width: calc(33.3333% - 5px);
            }

            .sup-text {
              width: calc(33.3333% - 5px);
              text-align: center;
              margin-bottom: 0;
            }
          }
        }

        @media (max-width: $bpPhone) {

          &.col-orders {
            flex-wrap: wrap;
            justify-content: space-around;

            .link {
              order: 0;
              width: 55%;
              margin-bottom: 10px;
            }

            .sup-text {
              order: 1;
              width: 50%;
            }
          }
        }
      }

      .col-content {
        width: 100%;
        padding: 20px;
        border-top: 2px solid #eff3f6;
        display: none;

        @media (max-width: $bpTablet) {
          order: 5;
        }

        .col-content-wrapper {
          display: flex;

          @media (max-width: $bpMobile) {
            flex-wrap: wrap;
          }
        }

        .content__text {
          width: 50%;
          padding-right: 30px;

          .text {
            color: #60635D;
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          @media (max-width: $bpMobile) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 20px;
          }
        }

        .list {
          width: 50%;
          column-count: 2;

          &__item {
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              display: block;
              margin-bottom: 5px;
              color: rgba($textColor, .65);
            }

            .count {
              color: #B6B6B6;
            }
          }

          @media (max-width: $bpMobile) {
            width: 100%;
            column-count: 1;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__item {
              width: calc(50% - 5px);
            }
          }
        }
      }

      @media (max-width: $bpTablet) {
        justify-content: space-between;
      }
    }

    &:nth-child(5) {
      @media (min-width: $bpTablet) {
        border-radius: 0 0 30px 30px;
      }
    }

    &:nth-child(7) {
      @media (min-width: $bpTablet) {
        border-radius: 30px 30px 0 0;
      }
      border-top: 2px solid #eff3f6;
    }

    .item-arrow {
      position: absolute;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 1px #eef2f5 solid;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      background: #fff;
      cursor: pointer;
      z-index: 2;
      transition: .2s;

      .icon {
        transition: .2s;
        font-size: 12px;
      }

      &:hover {
        background: $primaryColor;

        .icon {
          color: #fff;
        }
      }
    }

    &.-active {
      .item-arrow {
        .icon {
          transform: rotate(180deg);
        }
      }
    }


    &:not(.item-header) {
      @media (max-width: $bpTablet) {
        .item-wrapper {
          padding: 10px 0;
        }
      }
    }
  }

  .catalog__button {
    margin-top: 25px;
    text-align: center;
  }

  &.catalog-popular {
    .catalog__item {
      &:nth-child(5) {
        @media (min-width: $bpTablet) {
          border-radius: 0;
        }
      }

      &:nth-child(7) {
        @media (min-width: $bpTablet) {
          border-radius: 0;
        }
        border-top: none;
      }
    }
  }

  &.catalog-item {
    .catalog__item.item-header {
      .item-wrapper {
        .col {
          &.col-summ, &.col-bet, &.col-term {
            &:before {
              display: none;
            }
          }
        }
      }
    }

    .catalog__item {
      .item-wrapper {
        .col {
          @media (max-width: $bpMobile) {
            &.col-summ, &.col-bet, &.col-term, &.col-overpayment {
              width: calc(50% - 5px);
            }
          }
        }
      }
    }
  }

  .adv__item {
    margin: 30px 0;
    background: linear-gradient(88.19deg, #F2FFE5 1.38%, #E1F3CE 99.73%), #E2F3CF;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    display: none;

    .adv__title {
      width: 500px;
      max-width: 100%;

      .text {
        font-size: 18px;
        font-weight: 800;
      }
    }

    @media (max-width: $bpPhone) {
      flex-wrap: wrap;

      .adv__title {
        width: 100%;
      }

      .link {
        margin-top: 15px;
      }
    }
  }
}