.content {
  flex: 1 1 auto;
  max-width: calc(100% - 330px);

  @media (max-width: $bpTablet) {
    max-width: 100%;
    width: 100%;
  }
  
  .table-comparison-wrapper {
    position: relative;

    .table__arrow {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      cursor: pointer;
      border: 1px solid #eff3f6;
      transition: .2s;

      .icon {
        font-size: 10px;
        transition: .2s;
      }

      &:hover {
        background: $primaryColor;

        .icon {
          color: #fff;
        }
      }
    }
  }

  .card-block {
    .card {
      width: calc(33.3333% - 30px);
      min-width: 235px;
      padding: 20px 25px;
      margin: 0 15px 20px;
      background: #FFFFFF;
      box-shadow: 0 0 10px #BFDF9F;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: $bpTablet) {
        padding: 20px 15px;
      }

      @media (max-width: $bpMobile) {
        width: calc(50% - 30px);
      }

      &-wrapper {
        margin: 0 -15px -20px;
        display: flex;
        justify-content: space-between;
        overflow: auto;
        padding: 20px 0 0;
      }

      &__image {
        width: 140px;
        max-width: 100%;
        margin-bottom: 15px;

        @media (max-width: $bpMobile) {
          margin-bottom: 30px;
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 25px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__text {
        margin-bottom: 15px;

        &.text-big {
          .text {
            font-size: 16px;
            font-weight: 800;
          }
        }

        .text {
          color: #535556;
        }

        @media (max-width: $bpPhone) {
          .text {
            font-size: 14px;
          }

          &.text-big {
            .text {
              font-size: 16px;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__condition {
        background: #E9F5DD;
        border-radius: 10px;
        margin-bottom: 15px;
        display: flex;
        width: 100%;
        padding: 5px;
        justify-content: center;
        align-items: center;

        .text {
          color: #535556;
          ;
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 20px;
          height: 35px;

          .text {
            font-size: 14px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .reviews-block {
    display: flex;
    overflow-x: auto;

    .review {
      &__item {
        width: 50%;
        padding: 20px 25px;
        border-right: 2px solid #EFF3F6;
        display: flex;
        flex-direction: column;
        background: #fff;
        min-width: 236px;

        &:last-child {
          border-right: none;
        }

        @media (max-width: $bpMobile) {
          padding: 20px;
          width: calc(50% - 16px);
          margin: 0 8px;
          border-right: none;
          border-radius: 25px;
        }
      }

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        .review__date {
          margin-right: 10px;

          .text {
            color: rgba($textColor, .5);
          }
        }

        .review__rating {
          display: flex;
          align-items: center;

          .icon {
            color: #FFEC19;
            font-size: 15px;
            margin-right: 15px;
          }

          .count {
            color: rgba($textColor, .5);
          }
        }

        @media (max-width: $bpMobile) {
          margin-bottom: 30px;
        }
        @media (max-width: $bpPhone) {
          margin-bottom: 25px;
        }
      }

      &__content {
        flex: 1 1 auto;

        .review__title {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            font-weight: 800;
            font-size: 16px;
          }
        }

        .review__text {
          position: relative;

          .link-wrapper {
            position: absolute;
            background: #fff;
            bottom: 0;
            right: 0;
            display: flex;

            .dotted {
              padding: 0 5px;
            }

            &.-hidden {
              display: none;
            }
          }

          .text {
            line-height: 1.6;
          }
        }
      }

      &__footer {
        margin-top: 35px;

        &:first-child {
          margin-top: 0;
        }

        .review__info {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin: 0 -15px -10px;

          .info-item {
            display: flex;
            align-items: center;
            margin: 0 15px 10px;

            .icon {
              margin-right: 15px;
            }

            .icon, .text {
              ;
              color: #B6B6B6;
            }
          }
        }

        @media (max-width: $bpMobile) {
          margin-top: 45px;

          .review__info {
            margin: 0 -10px -10px;

            .info-item {
              margin: 0 10px 10px;

              .icon {
                margin-right: 10px;
              }

              .icon, .text {
                font-size: 14px;
              }
            }
          }
        }
        @media (max-width: $bpPhone) {
          margin-top: 30px;

          .review__info {
            margin: 0 -5px -10px;

            .info-item {
              margin: 0 5px 10px;

              .icon {
                margin-right: 5px;
              }

              .icon, .text {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}