.content {
  flex: 1 1 auto;
  margin: 0 15px;
  max-width: calc(100% - 360px);

  @media (max-width: $bpTablet) {
    max-width: calc(100% - 30px);
    width: 100%;
  }

  .type-news-detail & {
    width: 770px;
    max-width: 100%;
    margin: 0 auto 50px;
    flex: 0 1 auto;
  }

  .table-comparison-block {
    max-width: 100%;
    position: relative;

    .table__arrow {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      cursor: pointer;
      border: 1px solid #eff3f6;
      transition: .2s;

      .icon {
        font-size: 10px;
        transition: .2s;
      }

      &:hover {
        background: $primaryColor;

        .icon {
          color: #fff;
        }
      }
    }
  }

  .table-comparison-wrapper {
    position: relative;
    max-width: 100%;
    overflow-x: auto;
  }

  .card-block {
    .card {
      width: calc(33.3333% - 30px);
      min-width: 235px;
      padding: 20px 25px;
      margin: 0 15px 20px;
      background: #FFFFFF;
      box-shadow: 0 0 10px #BFDF9F;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: $bpTablet) {
        padding: 20px 15px;
      }

      @media (max-width: $bpMobile) {
        width: calc(50% - 30px);
      }

      &-wrapper {
        margin: 0 -15px -20px;
        display: flex;
        justify-content: space-between;
        overflow: auto;
        padding: 20px 0 0;

        @media (max-width: $bpMobile) {
          padding: 0;
        }
      }

      &__image {
        width: 140px;
        max-width: 100%;
        margin-bottom: 15px;

        @media (max-width: $bpMobile) {
          margin-bottom: 30px;
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 25px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__text {
        margin-bottom: 15px;

        &.text-big {
          .text {
            font-size: 16px;
            font-weight: 800;
          }
        }

        .text {
          color: #535556;
        }

        @media (max-width: $bpPhone) {
          .text {
            font-size: 14px;
          }

          &.text-big {
            .text {
              font-size: 16px;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__condition {
        background: #E9F5DD;
        border-radius: 10px;
        margin-bottom: 15px;
        display: flex;
        width: 100%;
        padding: 5px;
        justify-content: center;
        align-items: center;

        .text {
          color: #535556;
          ;
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 20px;
          height: 35px;

          .text {
            font-size: 14px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .section-how .list-checked {
    display: flex;
    flex-wrap: wrap;
    margin: 24px -12px -24px;

    .list__item {
      width: calc(33.3333% - 24px);
      margin: 0 12px 24px;

      @media (max-width: $bpMobile ){
        width: calc(50% - 24px);
      }

      @media (max-width: $bpPhone) {
        width: calc(100% - 24px);
      }

      &:last-child {
        margin: 0 12px 24px;
      }
    }
  }

  .section-map .image-map {
    display: flex;
    margin: 24px -25px -25px;

    @media (max-width: $bpMobile) {
      margin: 20px -20px -20px;
    }

    @media (max-width: $bpPhone) {
      margin: 15px -15px 15px;
    }
  }
}