.link {
  &.link-text-primary {
    color: $primaryColor;
    display: inline-flex;
    align-items: center;

    .icon {
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }
    }

    &:hover {
      color: $primaryColorHover;
    }

    &:active {
      color: $primaryColorActive;
    }
  }

  &.link-white {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    height: 60px;
    font-size: 16px;
    border: 1px solid #EFF3F6;
    border-radius: 10px;
    box-shadow: 0 0 30px #BFDF9F;

    .icon {
      margin-right: 15px;
      color: $primaryColor;
    }

    @media (max-width: $bpPhone) {
      height: 50px;
      font-size: 14px;
      padding: 0 30px;
      box-shadow: 0 0 10px rgba(180, 180, 180, 0.15);
      display: flex;
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.link-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $primaryColor;
    box-shadow: 0 0 10px rgba(229, 229, 229, 0.5);
    border-radius: 10px;
    font-size: 16px;
    padding: 0 30px;
    height: 60px;
    color: #fff;

    .icon {
      &:first-child {
        margin-right: 15px;
      }
      &:last-child {
        margin-left: 15px;
      }
    }

    &:hover {
      background: $primaryColorHover;
    }

    &:active {
      background: $primaryColorActive;
    }

    @media (max-width: $bpPhone) {
      height: 50px;
      font-size: 14px;
      box-shadow: 0 0 8px rgba(229, 229, 229, 0.3);
      display: flex;
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}