.list {

  &.list-checked {

    .list__item {
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      &:before {
        content: '\e911';
        font-family: 'icomoon';
        color: $primaryColor;
        margin-right: 25px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.list-stars {
    display: flex;

    .list__item {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      .icon {
        color: #FFEC19;

        &.-gray {
          color: #EEF2F5;
        }
      }
    }
  }

  &.list-stars-touch {
    display: flex;

    .list__item {
      margin-right: 8px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      .icon {
        color: #EEF2F5;
        font-size: 24px;
      }

      &.-active {
        .icon {
          color: #FFEC19;
        }
      }
    }
  }

  &.list-count {
    .list__item {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 0 -8px 35px;

      @media (max-width: $bpMobile) {
        margin: 0 -8px 25px;
      }

      @media (max-width: $bpPhone) {
        margin: 0 -8px 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .text, .count {
        width: calc(50% - 16px);
        margin: 0 8px;
      }

      .text {
        color: #60635D;
      }

      .count {
        color: #B6B6B6;
      }
    }
  }

  &.list-media-block {
    .list__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .list__item-link {
      display: flex;
      align-items: center;
      background: #F3F4F8;
      border: 1px solid #EFF3F6;
      border-radius: 5px;
      padding: 8px 16px;
      transition: .2s;

      &:hover {
        box-shadow: 0 0 1px 2px rgba(0,0,0,.02);

        .sub-text {
          &:after {
            transform: translateX(4px);
          }
        }
      }

      .icon {
        font-size: 24px;
        margin-right: 12px;

        &.icon-telegram {
          color: #0088CC;
        }
        &.icon-vk {
          color: #2787F5;
        }
        &.icon-twitter {
          color: #00ACEE;
        }
        &.icon-facebook {
          color: #3B5998;
        }
      }

      .media-title {
        font-size: 14px;
        font-weight: 800;
        flex: 1 1 auto;
      }

      .sub-text {
        color: #6D6D6D;
        font-size: 14px;
        display: flex;
        align-items: center;

        &:after {
          content: '\e910';
          font-family: 'icomoon';
          font-size: 10px;
          color: #6D6D6D;
          line-height: 1;
          margin-left: 10px;
          transition: .2s;
        }
      }
    }
  }

  &.list-sort {
    box-shadow: 0 0 10px rgba(180, 180, 180, 0.15);
    .list__item {
      border-bottom: 1px solid #EFF3F6;

      &:first-child {
        border-top: 1px solid #EFF3F6;
      }

      .list__item-link {
        display: flex;
        padding: 25px 20px;
        justify-content: space-between;
        align-items: center;
      }

      &.-active {
        .list__item-link {
          .text {
            color: $primaryColor;
            font-weight: 800;
          }

          &:after {
            content: '\e911';
            font-family: 'icomoon';
            font-size: 12px;
            color: $primaryColor;
          }
        }
      }
    }
  }

  &.list-media {
    display: flex;
    align-items: center;

    .list__item {
      margin-right: 18px;

      &:last-child {
        margin-right: 0;
      }

      &-link {
        background: #fff;
        width: 24px;
        height: 24px;
        display: block;
        border-radius: 4px;

        .icon {
          font-size: 24px;
          color: #207D4E;
          transition: .2s;
        }

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }

  &.list-number-primary {
    counter-reset: li;

    .list__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        color: $primaryColor;

        &:hover {
          color: $primaryColorHover;
        }

        &:active {
          color: $primaryColorActive;
        }

        &:before {
          counter-increment: li;
          content: (counters(li, '.') '. ');
        }
      }
    }
  }

  &.list-number-primary-dot {
    counter-reset: li;

    .list__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        &:before {
          color: $primaryColor;
          font-weight: 800;
          counter-increment: li;
          content: (counters(li, '. ') '. ');
        }
      }
    }
  }

  &.list-dotted {
    .list__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        &:before {
          content: '';
          width: 5px;
          height: 5px;
          background: $textColor;
          border-radius: 100%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          font-size: 2em;
          line-height: 1;
        }
      }
    }
  }

  &.list-dotted-primary {
    .list__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        &:before {
          content: '';
          width: 5px;
          height: 5px;
          background: $primaryColor;
          border-radius: 100%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          font-size: 2em;
          line-height: 1;
        }
      }
    }
  }
}