.recommend-block {
  margin-top: 24px;

  .recommend {
    &-wrapper {
      display: flex;
      margin: 0 -12px;
      overflow-x: auto;
    }

    &__item {
      width: calc(33.3333% - 24px);
      margin: 0 12px;
      min-width: 236px;
      flex: 0 0 auto;

      &:hover {
        .item__image {
          .image {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }

        .item__title {
          .text {
            text-decoration: underline;
          }
        }
      }

      .item {

        &__image {
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          padding-top: 40%;

          .image {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            min-width: 100%;
            max-width: 100000%;
            transform: translate(-50%, -50%);
            transition: .2s;
            z-index: 1;
          }
        }

        &__content {
          margin-top: 15px;

          &:first-child {
            margin-top: 0;
          }

          @media (max-width: $bpMobile) {
            margin-top: 12px;
          }

          @media (max-width: $bpPhone) {
            margin-top: 7px;
          }
        }

        &__title {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            font-size: 18px;
            font-weight: 800;
          }

          @media (max-width: $bpMobile) {
            margin-bottom: 12px;
            .text {
              font-size: 16px;
            }
          }

          @media (max-width: $bpPhone) {
            margin-bottom: 7px;
            .text {
              font-size: 14px;
            }
          }
        }

        &__info {
          font-size: 14px;
          color: #B6B6B6;
          display: flex;

          .info-item {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }

          @media (max-width: $bpMobile) {
            font-size: 12px;
          }
        }
      }
    }
  }
}