.section {

  &__title {
    margin-top: 40px;

    @media (max-width: $bpMobile) {
      margin-top: 30px;
    }

    @media (max-width: $bpPhone) {
      margin-top: 25px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__caption {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    .text {
      font-size: 16px;
      color: $darkColor;
    }

    @media (max-width: $bpMobile) {
      margin-top: 30px;
    }

    @media (max-width: $bpPhone) {
      margin-top: 25px;

      .text {
        font-size: 14px;
      }
    }
  }

  &__button {
    margin-top: 40px;

    @media (max-width: $bpMobile) {
      margin-top: 30px;
    }

    @media (max-width: $bpPhone) {
      margin-top: 25px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}




.type-main {
  .section {
    &.section-main {
      width: 100%;
      margin-bottom: 60px;
      padding: 30px 0 60px;
      border-bottom: 2px #EFF3F6 solid;
      background: url('../img/logo-image.png') right center no-repeat;
      background-size: 10%;

      @media (max-width: $bpMobile) {
        padding: 20px 0 50px;
      }

      @media (max-width: $bpPhone) {
        background: #fff;
        padding: 10px 0 40px;
      }

      .section__button {
        display: none;

        @media (max-width: $bpPhone) {
          display: block;
        }
      }
    }
  }

  .content {
    .section {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      &__title {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: $bpMobile) {
          margin-bottom: 25px;
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 25px;
        }
      }

      &__text {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        .text, .list {
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .text {
          font-size: 16px;
        }
      }

      &.section-border {
        background: #FFFFFF;
        border: 2px solid #EFF3F6;
        border-radius: 30px;
        padding: 50px;

        @media (min-width: $bpLaptop) and (max-width: $bpDesktop) {
          padding: 50px 35px;
        }

        @media (max-width: $bpTablet) {
          padding: 40px;
        }

        @media (max-width: $bpMobile) {
          padding: 40px 30px;
        }

        @media (max-width: $bpPhone) {
          padding: 0;
          border-radius: 0;
          border: none;
        }
      }

      &.section-popular {
        border-radius: 30px;
        padding: 50px;
        background: linear-gradient(73.1deg, #F2FFE6 1.1%, #E6F5D7 25.96%, #E1F3CE 99.32%), rgba(217, 255, 179, 0.5);

        @media (min-width: $bpLaptop) and (max-width: $bpDesktop) {
          padding: 50px 35px;
        }
        @media (min-width: $bpMobile) and (max-width: $bpTablet) {
          padding: 50px 35px;
        }
        @media (max-width: $bpMobile) {
          padding: 40px 30px;
        }
        @media (max-width: $bpPhone) {
          padding: 40px 20px;
          margin: 0 -10px 40px;
          border-radius: 0;
        }
      }

      @media (max-width: $bpPhone) {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}