.sidebar {
  width: 300px;
  margin: 0 15px;
  flex: 0 0 auto;
  margin-bottom: 100px;

  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &.item-filter {
      background: #FFFFFF;
      border: 2px solid #EEF2F5;
      box-shadow: 0 0 10px rgba(229, 229, 229, 0.5);
      border-radius: 25px;
    }

    &.item-calc {
      background: #FFFFFF;
      border: 2px solid #EEF2F5;
      box-shadow: 0 0 10px rgba(229, 229, 229, 0.5);
      border-radius: 25px;
      .sidebar__title {
        padding: 20px;
      }
    }

    &.item-media {
      .list-media-block {
        margin-top: 25px;
      }
    }

    .mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (min-width: $bpPhone) {
        display: none;
      }

      .icon, .text {
        padding: 20px;
      }

      .icon {
        font-size: 14px;
        color: rgba(96,99,93,.45);
        cursor: pointer;
      }

      .text {
        color: rgba(11,16,6,.65);
        font-weight: 800;
      }
    }
  }

  &__title {
    margin-top: 20px;

    .text {
      font-size: 18px;
      font-weight: 700;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  @media (max-width: $bpTablet) {
    z-index: 10;
    margin-bottom: 0;

    &__item {
      box-shadow: none;
      border: none;
      position: fixed;
      left: 0;
      bottom: 0;
      background: #fff;
      margin-bottom: 0;
      height: calc(100vh - 82px);
      overflow-y: auto;
      border-radius: 0;
      width: 300px;
      transform: translateX(-100%);
      transition: .2s;

      &.-window-active {
        z-index: 9;
        transform: translateX(0);
      }
    }
  }

  @media (max-width: $bpPhone) {
    width: 100%;
    &__title {
      display: none;
    }
    &__item {
      max-height: calc(100vh - 68px);
      height: auto;
      width: 100%;
      transform: translateY(100%);

      &.-window-active {
        transform: translateY(0);
      }
    }
  }
}