.wrapper {
  position: relative;
  padding-top: 100px;
  overflow-y: hidden;

  @media (max-width: $bpTablet) {
    padding-top: 91px;
  }
  @media (max-width: $bpMobile) {
    padding-top: 82px;
  }
  @media (max-width: $bpPhone) {
    padding-top: 67px;
  }
}